<h1>Selamat datang pada aplikasi Xaurius</h1>
<%
=begin%>
 <% if @app_type == 'mobile' %> 
<%
=end%>
  <p>
    Berikut adalah code untuk mereset password
  </p>
  <h1>
    <%= @user.pass_reset_token %>
  </h1>
<%
=begin%>
 <% else %>
  <p>
    Silahkan klik link berikut untuk melakukan reset password.
  </p>
  <p>
    Link dibawah adalah link 1 kali klik (One Time Link). Jika Anda telah klik link tersebut 1x, berkunjung ke halaman 1x lagi akan menyebabkan pesan gagal.
  </p>
  <p>
    Silahkan minta kembali melalui fasilitas lupa password jika link Anda sudah kadaluarsa.
  </p>

  <p>
    Link:
    <a href="<%= @link %>">link ini</a>
  </p>
<% end %> 
<%
=end%>

<p>Selamat beraktivitas!</p>

<p>
  Salam, <br>
  Admin Xaurius
</p>
<hr>
<p>Catatan: Abaikan pesan ini jika Anda merasa tidak pernah meminta reset password.</p>