<div>
  <div style="">
    <h2>Halo, <%= @orang.email %></h2>
    <p style="color: #847f7f; font-size: 16px">
      Terimakasih telah mendaftar pada GOKIL Untuk dapat
      menggunakan aplikasi, Anda harus memverifikasi email dengan
      klik tombol dibawah ini:
    </p>

    <!-- link verifikasi -->
    <div style="display: flex; justify-content: center; margin: 25px 0">
      <!-- ini link untuk verifikasi email -->
      <a href="<%= @klik_link %>" 
      style="
          text-decoration: none;
          padding: 10px 50px;
          border: 2px solid #72b01d;
          background-color: #72b01d;
          border-radius: 5px;
          font-size: 17px;
          font-weight: 600;
          color: #fff;
        "
      >
        VERIFY EMAIL
      </a>
    </div>

    <!-- url copy -->
    <div>
      <p style="color: #847f7f; font-size: 16px">
        Jika Anda tidak dapat klik link tersebut, silahkan copy dan
        jalankan URL berikut pada browser Anda:
      </p>

      <!-- ganti link ini karna ini hanya template saja -->
      <p style="color: #72b01d; font-size: 16px">
        <%= @klik_link %>
      </p>

      <!-- kode verifikasi -->
      <p style="color: #847f7f; font-size: 16px">
        Atau jika mendaftar melalui aplikasi mobile, silahkan isikan
        kode berikut
      </p>

      <!-- letakan kode verifikasi disini -->
      <h2 style="color: #72b01d; font-size: 22px; font-weight: 600">
        <%= @orang.email_vercode %>
      </h2>

      <p
        style="
          color: #847f7f;
          font-size: 16px;
          margin: 40px 0 15px 0;
        "
      >
        Selamat beraktivitas
      </p>

      <p style="color: #847f7f; font-size: 16px; line-height: 30px">
        Salam, <br />GOKIL (AppRobot)
      </p>
    </div>
  </div>
</div>
          