<div>
  <div style="">
    <h2>Halo, <%= @orang.email %></h2>
    <p style="color: #847f7f; font-size: 16px">
      Berikut konfirmasi terkait pembatalan deposit anda, bahwa :
      <%= @deposit.description %>
    </p>

    <!-- url copy -->
    <div>
      <p style="color: #847f7f; font-size: 16px">
        Untuk informasi lebih lanjut silahkan hubungi Admin Xaurius, Terimakasih
      </p>
      
      <p
        style="
          color: #847f7f;
          font-size: 16px;
          margin: 40px 0 15px 0;
        "
      >
        Selamat beraktivitas
      </p>

      <p style="color: #847f7f; font-size: 16px; line-height: 30px">
        Salam, <br />Admin Xaurius
      </p>
    </div>
  </div>
</div>
          