<p style="color: green"><%= notice %></p>

<h1>Sells</h1>

<div id="sells">
  <% @sells.each do |sell| %>
    <%= render sell %>
    <p>
      <%= link_to "Show this sell", sell %>
    </p>
  <% end %>
</div>

<%= link_to "New sell", new_sell_path %>
